@import "src/assets/styles/variables";

.radio-item{
  position: relative;
  &__input{
    @extend #radioInput;
  }
}
#radioInput {
  &[type=radio]{
    opacity: 0;
    position: absolute;
    width: auto;
  }
  &[type=radio] + label{
    color: var(--underlined-input-color);
    @include fontVariation(20px, 38px, 400);
  }
  &[type=radio] + label:before{
    content: "";
    margin-right: 10px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: var(--white);
    border: 1px solid var(--black);
  }
  &[type=radio]:checked + label:after{
    content: '';
    background-color: var(--black);
    position: absolute;
    left: 5px;
    top: 12px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  @include screen(sm) {
    font-size: 25px;
    line-height: 38px;
    &[type=radio] + label:before{
      margin-right: 18px;
    }
  }

}