@import "../../../../assets/styles/variables.scss";
$cartItemHeight: 120;

.cart-list{
  margin-top: 26px;
  max-height: $cartItemHeight * 3px;
  overflow: auto;
  @include scrollBar(3px, 3px);
  &__item{
    border-bottom: 0.5px dashed var(--black);
    padding: 14px 0;
    display: flex;
    align-items: stretch;
    min-height: $cartItemHeight*1px;
    .cart-image{
      min-width: 70px;
      flex: 0 0 29.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 100%;
      }
    }
    .cart-description{
      padding: 0 7px 0 24px;
      display: flex;
      flex-direction: column;
    }
    .regular-text{
      @include lineClamp(2);
      margin-bottom: 14px;
    }
    .price{
      font-weight: 350;
      font-size: 18px;
      line-height: 13px;
    }
    .cart-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
    }
  }
  .empty-card{
    max-width: 236px;
    margin: 12px auto;
  }
}
