@import "../../../../assets/styles/variables.scss";

.coupon-box {
    background-color: var(--coupon-bg-color);
    border: 1px solid var(--coupon-border-color);
    border-radius: 9px;
    padding: 15px 9px;
    margin: 28px 0;
    .medium-text {
        font-weight: 700;
        @include lineClamp(1);
        max-width: 86%;
        margin: 0 auto 13px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .coupon-img {
            flex: 0 0 49.4%;
            max-width: 162px;
            margin-right: 17px;
            min-width: 120px;
            height: auto;
        }
        .info {
            flex: 1;
            .btn {
                max-width: 180px;
            }
        }
        .regular-text {
            font-weight: 300;
            @include lineClamp(2);
            margin-bottom: 10px;
            text-align: left;
        }
        .price-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            span {
                font: inherit;
            }
            .crossed {
                text-decoration: line-through;
                opacity: 0.6;
            }
        }
    }
    @include screen(xs) {
        &__content {
            flex-direction: row;
            align-items: flex-start;
            .coupon-img {
                margin-right: 17px;
                //max-width: 50%;
            }
        }
    }
}
