@import "src/assets/styles/variables";

.select-field{
  position: relative;
  &__label{
    @include fontVariation(14px, 10px, 200);
    pointer-events: none;
    z-index: 1;
    position: absolute;
    color: var(--underlined-label-color);
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, top 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    top: 0;
    left: 2px;
    white-space: nowrap;
    transform: translate(2px, 50px);
    @include screen(sm) {
      font-size: 20px;
    }
  }
}
.field-select__indicator{
  position: relative;
  margin-right: 8px;
  &:before{
    content: '\e904';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    opacity: 1;
    right: 15px;
    color: var(--black);
    font-family: 'Icomoon';
  }
  svg{
    opacity: 0;
  }
}
.field-select__single-value{
  font-size: 16px;
  @include screen(sm) {
    font-size: 28px;
  }
}
