@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?ydouf9");
    src: url("fonts/icomoon.eot?ydouf9#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?ydouf9") format("truetype"),
        url("fonts/icomoon.woff?ydouf9") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
    content: "\e900";
}
.icon-plus:before {
    content: "\e902";
}
.icon-spinner:before {
    content: "\e903";
}
.icon-arrow:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e901";
}
