@import "../../../Assets/styles/variables";

.btn {
  font-family: $neue-haas-unica;
  text-align: center;
  &--disabled,
  &:disabled{
    opacity: .6;
    cursor: default;
  }

  @mixin btn-polygon($radius: 16px){
    -webkit-clip-path: polygon(0% 0%, 0% 0%, calc(100% - #{$radius}) 0%, 100% 50%, calc(100% - #{$radius}) 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, calc(100% - #{$radius}) 0%, 100% 50%, calc(100% - #{$radius}) 100%, 0% 100%);
  }
  @mixin btnVariant($type: primary) {
    min-height: 54px;
    padding: 4px;
    position: relative;
    border: 2px solid var(--dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include fontVariation(30px, 45px, 400);
    @include btn-polygon(16px);

    @if($type == primary) {
      color: var(--white);
      background-color: var(--black);
    } @else if ($type == secondary) {
      color: var(--black);
      background-color: var(--black);
      span{
        position: relative;
        display: inline-block;
        z-index: 2;
      }
      width: auto;
      &:before{
        @include btn-polygon(15px);
        background-color: var(--white);
      }
    }
    &:before{
      content: '';
      @extend #positioned;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
      z-index: 1;
    }
    &.btn--sm{
      min-height: 35px;
      min-width: 140px;
      @include fontVariation(20px, 22px, 500);
    }
  }

  &--default{
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 4px;
    @include fontVariation(20px, 30px, 500);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    min-width: 116px;
    min-height: 40px;
    cursor: pointer;
    padding: 4px;
    transition: background-color .3s ease-out;
    &:not(:disabled):hover{
      background-color: rgba(var(--btn-bg-color), .5);
    }
  }

  &--primary{
    @include btnVariant('primary');
  }

  &--secondary{
    @include btnVariant('secondary');
  }

  &--icon{
    min-width: 24px;
    min-height: 24px;
    font-size: 14px;
    line-height: normal;
    background-color: var(--white);
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: opacity .3s ease-out, background-color .3s ease-out;
    &:not(:disabled) {
      &:hover {
        opacity: .6;
      }
    }
  }

  &--link{
    min-width: auto;
    display: inline-flex;
    align-items: center;
    min-height: 18px;
    background-color: transparent;
    border: none;
    padding: 2px 0;
    color: var(--btn-link-color);
    span{
      @include fontVariation(20px, 10px, 400);
      position: relative;
      &:after{
        content: '';
        @extend #positioned;
        top: auto;
        bottom: -4px;
        height: 1px;
        background-color: currentColor;
      }
    }
  }

}

.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
