@import "../../../assets/styles/variables";

#form-label {
  @include fontVariation(20px, 10px, 200);
  pointer-events: none;
  z-index: 1;
  position: absolute;
  color: var(--underlined-label-color);
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, top 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transform: translate(2px, 14px);
  top: 0;
  left: 2px;
}
#form-control{
  width: 100%;
  &:focus{
    background-color: var(--white);
    outline: none;
  }
  &:not(:focus):focus-visible{
    outline: auto;
    //outline: 1px solid rgb(0, 95, 204);
  }
}
.form-input{
  position: relative;
  $form-input: 'form-input';
  .form-control{
    @extend #form-control;
  }
  &--outlined{
    .form-control{
      min-height: 40px;
      padding: 6px 40px 6px 7px;
      border: 1px solid var(--btn-border-color);
      border-radius: 2px;
      width: 100%;
      @include fontVariation(18px, 25px, 400);

      &::placeholder {
        font: inherit;
        font-weight: 300;
      }
      &:-ms-input-placeholder {
        font: inherit;
        font-weight: 300;
      }
      &::-ms-input-placeholder {
        font: inherit;
        font-weight: 300;
      }
    }
    .icon-close{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  &--underlined{
    position: relative;
    .form-control{
      min-height: 38px;
      border: none;
      padding: 0 2px;
      border-bottom: 1px solid var(--black);
      @include fontVariation(25px, 38px, 400);
      color: var(--underlined-input-color);
      background-color: transparent;
      transition: background-color .3s ease-out;
      + .form-label{
        @extend #form-label;
      }
    }

    .form-control:focus + ,
    &.#{$form-input}--hasValue,
    .form-control:-webkit-autofill + {
      .form-label{
        transform: translate(2px, 50px);
      }
    }
  //  .form-control:focus{
  //    background-color: var(--white);
  //    outline: none;
  //  }
  }
  &--error{
    .form-control{
      border-color: red;
      + .form-label{
        color: red;
      }
    }
  }
  &--disabled .form-control, .form-control:disabled{
    opacity: .6;
    cursor: default;
    pointer-events: none;
  }
}
