@import "src/assets/styles/variables";

header{
  padding: 20px;
}
.checkout-header{
  text-align: center;
  margin-bottom: 40px;
  .logo{
    width: auto;
    height: 34px;
  }
  .heading-1{
    margin-top: 40px;
  }
}

@include screen(sm) {
  .checkout-header{
    display: flex;
    align-items: center;
    .heading-1{
      margin: 0 180px 0 auto;
      width: 100%;
    }
    .logo{
      width: initial;
      height: inherit;
    }
  }
}
@include screen(md) {

}