@import "../../../assets/styles/variables";

.form-input--underlined{
  $form-input: 'form-input';
  textarea.form-control{
    &:focus + {
      .form-label{
        transform: translate(2px, 90px);
      }
    }
    &.#{$form-input}--hasValue,
    &:-webkit-autofill + {
      .form-label{
        transform: translate(2px, 90px);
      }
    }
  }
}
