@import "../../../assets/styles/variables";

.action-wrapper{
    .form-input--underlined {
        $form-input: "form-input";
        textarea.form-control {
            &:focus + {
                .form-label {
                    transform: translate(2px, 64px);
                }
            }
        }
        &.#{$form-input}--hasValue,
        &:-webkit-autofill + {
            .form-label {
                transform: translate(2px, 64px);
            }
        }
        @include screen(sm) {
            textarea.form-control {
                &:focus + {
                    .form-label {
                        transform: translate(2px, 90px);
                    }
                }
            }
            &.#{$form-input}--hasValue,
            &:-webkit-autofill + {
                .form-label {
                    transform: translate(2px, 90px);
                }
            }
        }
    }
}

