@import "../../../../Assets/styles/variables";

.order-info-list{
  padding-bottom: 26px;
  &__item{
    width: 100%;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .option{

    }
    .price-text{
      line-height: 13px;
      font-weight: 400;
    }
    &:last-of-type{
      margin-top: 8px;
      .option{

      }
      .light{
        color: var(--light-gray);
        margin: 0 14px 0 auto;
      }
      .price-text{

        line-height: 13px;
      }
    }
  }
}
