@import "../../../assets/styles/variables";

.navbar {
  @extend #positioned;
  position: fixed;
  left: auto;
  background-color: var(--white);
  max-width: 375px;
  z-index: 2;
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  transform: translateX(100%);
  transition: transform .3s ease-out 0s;
  @include scrollBar(3px, 3px);
  overflow: auto;
  &--active{
    transform: translateX(0%);
    transition: transform .4s ease-out .14s;
  }
  &__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: normal;
    .order-info-list{
      margin-top: auto;
    }
  }
  &__heading {
    position: relative;
    padding-top: 23px;
    .close-btn {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(calc(-50% + 10px));
      border: none;
      background-color: transparent;
      @extend #flex-centered;
    }
  }
}
.sticky-bottom{
  background-color: var(--white);
  position: sticky;
  bottom: 0;
  padding: {
    top: 10px;
    bottom: 40px;
  }
  z-index: 1;
  .btn{
    width: 100%;
  }
}
.sticky-top{
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-overlay{
  background-color: rgba(black, .5);
  z-index: 1;
  @extend #positioned;
  position: fixed;
  right: auto;
  bottom: auto;
}
.burger{
  @extend #flex-centered;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  position: relative;
  border: none;
  &__inner{
    width: 18px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    > span{
      position: absolute;
      width: 22px;
      height: 1.5px;
      transition: .2s ease 0s;
      transition-property: transform,opacity;
      border-radius: 4px;
      background-color: var(--black);
    }
    $pairs:
          'top'     0     (translate3d(0,6px,0) rotate(45deg))     1,
          'middle'  6px   (translate3d(-8px,0px,0))          0,
          'bottom'  12px  (translate3d(0,-6px,0) rotate(-45deg))   1;
    @each $item, $step, $transform, $opacity in $pairs {
      .burger__#{$item}{
        top: $step;
        &.active {
          transform: $transform;
          transition: .2s ease .5s;
          @if ($item == 'middle') {
            opacity: $opacity;
          }
        }
      }
    }
  }
}


