@font-face {
  font-family: 'Cooper Lt BT';
  src: url('CooperLtBTLight.ttf') format('ttf'),
      url('CooperLtBTLight.woff') format('woff'),
  url('CooperLtBTLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
