@font-face {
  font-family: 'Cooper Lt BT';
  src: url('CooperLtBTLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Lt BT';
  src: url('CooperLtBTBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
