@import "../../../../assets/styles/variables";

.counter-container{
  display: flex;
  align-items: stretch;
  border: 0.5px solid var(--black);
  border-radius: 3px;
  overflow: hidden;
  .btn--icon{
    &:not(:disabled){
      &:hover{
        opacity: 1;
        background-color: rgba(var(--black-RGB), .1);
      }
      &:active{
        background-color: rgba(var(--black-RGB), .4);
      }
    }
  }
  &__count{
    width: 24px;
    text-align: center;
    border: 0.5px solid var(--btn-border-color);
    border-width: 0 1px;
    @include fontVariation(15px, 13px, 400);
    @extend #flex-centered;
  }
}
