@import "../../assets/fonts/fonts.css";
@import "../../assets/fonts/icomoon/style.css";
@import "variables";

:root{
  --white: #fff;
  --black: #000;
  --dark: #010101;
  --black-RGB: 0, 0, 0;
  --light-gray: #939393;
  --btn-bg-color: #F1EEE9;
  --btn-border-color: #A0A0A0;
  --coupon-bg-color: #FFFBEC;
  --coupon-border-color: #9E9E9E;
  --underlined-input-color: #424141;
  --underlined-label-color: #606060;
  --btn-link-color: #606060;
}

body {
  margin: 0;
  font-family: $neue-haas-unica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
//HEADINGS
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.heading-1 {
  @include fontVariation(30px, 42px, 400);
  font-family: $cooper_lt_font;
}
.heading-2 {
  @include fontVariation(24px, 30px, 500);
}
.heading-3 {
  @include fontVariation(24px, 38px, 400);
  font-family: $cooper_lt_font;
}

.regular-text {
  @include fontVariation(18px, 25px, 300);
}

.medium-text {
  @include fontVariation(20px, 28px, 500);
}

.medium-light-text{
  @include fontVariation(16px, 26px, 350);
}

.text-center {
  text-align: center;
}

.w-100{
  width: 100%;
}
//GRID LAYOUT
.container-fluid{
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 20px;
}
.row{
  margin: 0 -20px;
}
[class*="row-col-"]{
  padding: 0 20px;
  width: 100%;
}

@include screen(sm) {
  .heading-1{
    font-size: 60px;
    line-height: 72px;
  }
  .heading-2{
    font-size: 40px;
    line-height: 60px;
  }
  .heading-3{
    font-size: 35px;
  }
  .medium-text {
    font-size: 25px;
    line-height: 25px;
  }
  .medium-light-text{
    font-size: 20px;
    line-height: 30px;
  }
}

@include screen(sm) {
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .row-col-2{
    flex: 0 0 60%;
    max-width: 60%;
  }
  .row-col-1{
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@include screen(md) {
  .row-col-2{
    flex: 0 0 70%;
    max-width: 70%;
  }
  .row-col-1{
    flex: 0 0 30%;
    max-width: 30%;
  }
}
